
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div>
    <table class="table table-responsive">
        <tr>
            <td>Product Name</td>
            <td>Unit Price</td>
            <td>Units In Stock</td>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
            </tr>
        }
    </table>
</div>

